body{
    font-family: Arial, Helvetica, sans-serif;
}

#temps {
    position: absolute;
    height: 100%;
    width: 50%;
}

.fons {
    background-image: url( '/images/fons4.svg' );
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: 250px ;
    position: absolute;
    height: 100%;
    width: 50%;
}
  
.fons-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: solid;
    color: black;
    background-color: purple;
    border: none;
    border-radius: 15px;
  }

  .emoji {
    padding-left: 10px;
    padding-right: 10px;
    color: #f3c930;
  }

